@import 'reset.css';

body {
    background-color: #fff;
}

.root-wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.header-container {
    background-color: rgba(3,37,65,1);
}

.header-wrap img{
    max-width: 1400px;
    margin-top: 5px;
}

.header-wrap {
    width: 100%;
    max-width: 1400px;
    height: 64px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.header-left-wrap {
    display: flex;
}

.header-left-wrap ul {
    display: flex;
    margin-left: 16px;
}

.header-left-wrap li {
    padding: 8px;
    margin-right: 14px;
}

.header-nav-item {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.login-container{
    display: flex;
}

.login-wrap{
    display: flex;
    align-items: center;
}

.login-wrap p{
    margin-left: 8px;
    font-weight: 300;
    color: white;
}

.login-wrap button{
    padding: 4px;
    width: 80px;
    border-radius: 15px;
    background-color: white;
}

.app-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-container {
  position:relative;
  width: 250px;
  margin: 16px;
  background-color: #373b69;
  color: white;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.movie-container img {
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.movie-info {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  
}

.movie-info h4 {
  font-weight: 600;
  margin: 0;
}

.movie-info span {
  margin-left: 3px;
}

.movie-container:hover .movie-sub{
  display:inline-block;
}

.movie-sub{
  opacity: 0.8;
  overflow:hidden;
  border-radius: 5px;
  text-overflow: ellipsis;
  display: none;
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.63);
}

.movie-sub h4{
  font-weight: 600;
  margin-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.movie-sub p{
  margin-left: 10px;
  line-height: 23px;
}

